In [1]:
# after removing data row as index row and changing column names
import pandas as pd
import numpy as np
df=pd.read_csv('C:\\Users\\soham\\Downloads\\adult.data',names=['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','income'],header=None)
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [2]:
#replacing "?" by np.nan
df=df.replace(' ?',np.nan)
#replace missing values by mean,mode
for i in df.columns:
    if (type(df[i].dropna().tolist()[0])==str): #we are checking type of first value of each column after dropping NA's from it.
        df[i]=df[i].fillna(df[i].mode()[0])   #So, no problem even if first value of column turns out to be missing
    elif (type(df[i].dropna().tolist()[0])==float):  #we are checking type of first available element of that column using dropna 
        df[i]=df[i].fillna(df[i].mean())
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,Private,180211,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,Private,33811,Bachelors,13,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,Private,287372,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,Private,202822,HS-grad,9,Separated,Prof-specialty,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,Private,129912,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
#creating a dataframe with only integer/numerical type columns
dfint=pd.DataFrame()
for i in df.columns:
    if (type(df[i].tolist()[0])==int):
        dfint[i]=df[i].tolist()
dfint

       age  fnlwgt  education-num  capital-gain  capital-loss  hours-per-week
0       39   77516             13          2174             0              40
1       50   83311             13             0             0              13
2       38  215646              9             0             0              40
3       53  234721              7             0             0              40
4       28  338409             13             0             0              40
5       37  284582             14             0             0              40
6       49  160187              5             0             0              16
7       52  209642              9             0             0              45
8       31   45781             14         14084             0              50
9       42  159449             13          5178             0              40
10      37  280464             10             0             0              80
11      30  141297             13             0             0              40
12      23  122272             13             0             0              30
13      32  205019             12             0             0              50
14      40  121772             11             0             0              40
15      34  245487              4             0             0              45
16      25  176756              9             0             0              35
17      32  186824              9             0             0              40
18      38   28887              7             0             0              50
19      43  292175             14             0             0              45
20      40  193524             16             0             0              60
21      54  302146              9             0             0              20
22      35   76845              5             0             0              40
23      43  117037              7             0          2042              40
24      59  109015              9             0             0              40
25      56  216851             13             0             0              40
26      19  168294              9             0             0              40
27      54  180211             10             0             0              60
28      39  367260              9             0             0              80
29      49  193366              9             0             0              40
...    ...     ...            ...           ...           ...             ...
32531   30   33811             13             0             0              99
32532   34  204461             16             0             0              60
32533   54  337992             13             0             0              50
32534   37  179137             10             0             0              39
32535   22  325033              8             0             0              35
32536   34  160216             13             0             0              55
32537   30  345898              9             0             0              46
32538   38  139180             13         15020             0              45
32539   71  287372             16             0             0              10
32540   45  252208              9             0             0              40
32541   41  202822              9             0             0              32
32542   72  129912              9             0             0              25
32543   45  119199             12             0             0              48
32544   31  199655             14             0             0              30
32545   39  111499             12             0             0              20
32546   37  198216             12             0             0              40
32547   43  260761              9             0             0              40
32548   65   99359             15          1086             0              60
32549   43  255835             10             0             0              40
32550   43   27242             10             0             0              50
32551   32   34066              6             0             0              40
32552   43   84661             11             0             0              45
32553   32  116138             14             0             0              11
32554   53  321865             14             0             0              40
32555   22  310152             10             0             0              40
32556   27  257302             12             0             0              38
32557   40  154374              9             0             0              40
32558   58  151910              9             0             0              40
32559   22  201490              9             0             0              20
32560   52  287927              9         15024             0              40

[32561 rows x 6 columns]

In [4]:
#performing train-test-split on our dataframe
# X consists of only integer type columns, y consists of output column("income")
import numpy as np
from sklearn.model_selection import train_test_split
X, y = dfint.iloc[:,:],df.iloc[:,[-1]]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=5)

In [5]:
X_train

       age  fnlwgt  education-num  capital-gain  capital-loss  hours-per-week
11928   45  249935             13             0             0              60
25343   32  188154             10             0             0              40
3107    61  124971             16             0             0              40
19279   32  190784             10             0             0              40
24666   35  175769              9             0             0              65
22392   40  261497              9             0             0              35
24426   39  147500              9             0             0              40
29290   22  171419             11             0             0              40
4174    17  114798              7             0             0              18
9126    68  193666             16         20051             0              55
18292   55  157932              9             0             0              40
2045    17   60116              6             0             0              10
3881    63  134699              9             0             0              25
17557   58  489085             13             0             0              40
26045   32  164190              9             0             0              30
19102   20  100605              9             0             0              40
27108   39  225504             14             0             0              40
19209   21  253612             10          1055             0              32
23113   38  177305             13             0             0              38
13405   29  104256              9             0             0              34
4083    59   80467              9             0             0              24
17150   36  272090             13             0             0              45
761     59  420537              9             0             0              38
10049   29  199499             11             0             0              40
23869   47  162302              9             0             0              20
27166   46  125892             14             0             0              50
16371   41  171615             10             0             0              48
24127   20  143062             10             0             0              40
23949   32   24961             11             0             0              40
20375   44  197462              9             0             0              40
...    ...     ...            ...           ...           ...             ...
2004    39  192337             13             0             0              50
32286   28  478315             13             0             0              40
3503    40  315321              9             0           625              52
27713   45   32896              3             0             0              35
32459   85   98611             13             0             0               3
8397    34  192002             13             0             0              40
9260    35  111095              9             0             0              50
30747   64  210082              9             0             0              40
27728   42  257328              9             0             0              40
28647   49  250733              9             0             0              46
30133   38   65624              9             0             0              40
3185    35  191502             13             0             0              60
28876   41  113324              9             0             0              40
7687    27  175387             13             0          1876              40
20176   63  289741             14         41310             0              50
2718    51  209912             13             0             0              50
19056   42  192397             10             0             0              38
2459    31  122749             11             0             0              20
1982    31  348491             13             0             0              40
16103   69  248248              2             0             0              34
740     19  192453             10             0             0              25
1032    27  389713             10             0             0              40
26697   49  165953              9             0          1902              40
5520    25  222254              9             0             0              40
23670   26  208994             10             0             0              12
3046    54  220115             10             0             0              30
26301   42  211517              7             0             0              40
20463   85  166027              9             0             0              50
18638   36  469056              9             0             0              25
2915    26  198163             14             0             0              40

[22792 rows x 6 columns]

In [6]:
X_test

       age  fnlwgt  education-num  capital-gain  capital-loss  hours-per-week
32264   32  260954              7             0          2042              30
28024   31  236391             10             0             0              40
9347    59  175689             10             0             0              14
10427   37  114765             10             0             0              40
4810    40  179717             13             0          1564              60
11139   35  167062              9             0             0              40
20926   22  142566              9             0             0              40
24150   35  114366             13             0             0              40
15504   23  238092             13             0             0              40
9407    42  175935              9             0          1980              46
8963    90   77053              9             0          4356              40
12107   32  504951             12             0             0              50
157     71  494223             10             0          1816               2
21946   30  411560              9             0             0              40
14238   72  172407             15         99999             0              50
2684    78  136198             13             0             0              15
24774   51   21698              9             0             0              40
31521   33  268451             10             0             0              40
20148   42  227890             13             0          1485              40
1783    39  238415             13             0             0              50
25516   54  447555              6             0             0              40
15029   28  197932             10             0             0              16
13136   41  173051             10             0             0              45
25779   29  166210              9             0             0              50
26879   41  178431              9             0             0              40
10207   45  114396             13             0             0              35
11367   43  281422             12             0             0              45
23913   44  174373             12             0             0              40
30387   33   80058              9             0             0              40
9346    27  177761             10             0             0              50
...    ...     ...            ...           ...           ...             ...
25053   61  394534              9             0             0               6
26478   59   75804              9             0             0              65
23368   52  205767             14             0             0              40
26636   42  287037              8             0             0              10
22505   49  219021             10             0             0              48
6995    20  168863             10             0             0              20
59      30  188146              9          5013             0              40
11276   24  173736             11             0             0              55
27296   23  111296              7             0             0              50
1431    59  296253              9             0             0              40
13144   37  194004              7             0             0              25
23339   29  204516             14             0             0              15
3490    69   88566              5          1424             0              35
8074    35  177974              9             0             0              40
20341   21  122322             10             0             0              60
24870   35  198202              9             0             0              54
14760   36  173542             13             0             0              40
17919   40  187702             13             0             0              40
30833   25  110978             12             0             0              37
4343    33   43959             14          7688             0              50
5220    44  266135             13             0             0              50
12702   23  695136              9             0             0              30
18032   53   30008              6             0             0              35
25331   37   42044             10             0             0              84
17952   50  191062              9             0             0              40
7577    25   53903             10             0             0              40
17553   30  203488             10             0             0              44
24131   46  353012             16             0          1902              50
13961   35  202950              9             0             0              55
3335    53  197492              9             0             0              40

[9769 rows x 6 columns]

In [7]:
# calculate the Euclidean distance between two vectors
def euclidean_distance(row1, row2):
    distance = [(row1[i] - row2[i])**2 for i in range(len(row1))]
    return np.sqrt(np.sum(distance))

euclidean_distance(X_train.iloc[0], X_test.iloc[0])

11206.660073367088

In [8]:
def getdistances(inp_traindf,test_row):
    distances=inp_traindf.apply(lambda row:euclidean_distance(row, test_row) ,axis=1)
    return distances
    
getdistances(X_train, X_test.iloc[0])

11928     11206.660073
25343     72828.633607
3107     135998.334824
19279     70199.706360
24666     85209.478504
22392      2112.985092
24426    113472.375638
29290     89558.283844
4174     146170.265338
9126      70241.649404
18292    103042.238335
2045     200848.382204
3881     126271.516103
17557    228140.140565
26045     96785.543673
19102    160362.002398
27108     35508.765988
19209      7693.366428
23113     83673.921272
13405    156711.304624
4083     180498.553185
17150     11321.684371
761      159596.066524
10049     61488.917001
23869     98673.133106
27166    135077.437987
16371     89362.336020
24127    117909.684424
23949    236001.834588
20375     63524.830389
             ...
2004      68647.381145
32286    217370.591932
3503      54385.468004
27713    228067.142171
32459    162355.852950
8397      68982.231103
9260     149872.913023
30747     50912.977481
27728      4161.471374
28647     10423.010793
30133    195340.673706
3185      69482.019350
28876    147644.122298
7687      85567.161961
20176     50392.247846
2718      51082.837871
19056     68587.405447
2459     138220.085031
1982      87560.814695
16103     12869.095151
740       68531.430512
1032     128775.191629
26697     95001.105225
5520      38753.837449
23670     52000.112817
3046      40890.025410
26301     49479.156551
20463     94948.977383
18638    208112.018425
2915      62824.196215
Length: 22792, dtype: float64

In [9]:
import time
start_time = time.time()
getdistances(X_train, X_test.iloc[0])
print("--- %s seconds ---" % (time.time() - start_time))

--- 10.815912008285522 seconds ---

In [10]:
# calculate the Euclidean distance between two vectors
def euclidean_distance(row1, row2):
    nrow1=np.array(row1)
    nrow2=np.array(row2)
    distance = (nrow1-nrow2)**2
    #distance = [((x-y)) for x,y in zip(nrow1,nrow2)]
    return np.sqrt(np.sum(distance))

euclidean_distance(X_train.iloc[0], X_test.iloc[0])

11206.660073367088

In [11]:
def getdistances(inp_traindf,test_row):
    distances=inp_traindf.apply(lambda row:euclidean_distance(row, test_row) ,axis=1)
    return distances
    
getdistances(X_train, X_test.iloc[0])

11928     11206.660073
25343     72828.633607
3107     135998.334824
19279     70199.706360
24666     85209.478504
22392      2112.985092
24426    113472.375638
29290     89558.283844
4174     146170.265338
9126      70241.649404
18292    103042.238335
2045     200848.382204
3881     126271.516103
17557    228140.140565
26045     96785.543673
19102    160362.002398
27108     35508.765988
19209      7693.366428
23113     83673.921272
13405    156711.304624
4083     180498.553185
17150     11321.684371
761      159596.066524
10049     61488.917001
23869     98673.133106
27166    135077.437987
16371     89362.336020
24127    117909.684424
23949    236001.834588
20375     63524.830389
             ...
2004      68647.381145
32286    217370.591932
3503      54385.468004
27713    228067.142171
32459    162355.852950
8397      68982.231103
9260     149872.913023
30747     50912.977481
27728      4161.471374
28647     10423.010793
30133    195340.673706
3185      69482.019350
28876    147644.122298
7687      85567.161961
20176     50392.247846
2718      51082.837871
19056     68587.405447
2459     138220.085031
1982      87560.814695
16103     12869.095151
740       68531.430512
1032     128775.191629
26697     95001.105225
5520      38753.837449
23670     52000.112817
3046      40890.025410
26301     49479.156551
20463     94948.977383
18638    208112.018425
2915      62824.196215
Length: 22792, dtype: float64

In [12]:
import time
start_time = time.time()
getdistances(X_train, X_test.iloc[0])
print("--- %s seconds ---" % (time.time() - start_time))

--- 6.227051496505737 seconds ---

In [13]:
# calculate the Euclidean distance between two vectors
from scipy.spatial import distance
def euclidean_distance(row1, row2):
    d = distance.euclidean(row1, row2)
    #distance = [((x-y)) for x,y in zip(nrow1,nrow2)]
    return d

euclidean_distance(X_train.iloc[0], X_test.iloc[0])

11206.660073367088

In [14]:
from scipy.spatial import distance
def getdistances(inp_traindf,test_row):
    distances=inp_traindf.apply(lambda row:distance.euclidean(row, test_row) ,axis=1)
    return distances
    
getdistances(X_train, X_test.iloc[0])

11928     11206.660073
25343     72828.633607
3107     135998.334824
19279     70199.706360
24666     85209.478504
22392      2112.985092
24426    113472.375638
29290     89558.283844
4174     146170.265338
9126      70241.649404
18292    103042.238335
2045     200848.382204
3881     126271.516103
17557    228140.140565
26045     96785.543673
19102    160362.002398
27108     35508.765988
19209      7693.366428
23113     83673.921272
13405    156711.304624
4083     180498.553185
17150     11321.684371
761      159596.066524
10049     61488.917001
23869     98673.133106
27166    135077.437987
16371     89362.336020
24127    117909.684424
23949    236001.834588
20375     63524.830389
             ...
2004      68647.381145
32286    217370.591932
3503      54385.468004
27713    228067.142171
32459    162355.852950
8397      68982.231103
9260     149872.913023
30747     50912.977481
27728      4161.471374
28647     10423.010793
30133    195340.673706
3185      69482.019350
28876    147644.122298
7687      85567.161961
20176     50392.247846
2718      51082.837871
19056     68587.405447
2459     138220.085031
1982      87560.814695
16103     12869.095151
740       68531.430512
1032     128775.191629
26697     95001.105225
5520      38753.837449
23670     52000.112817
3046      40890.025410
26301     49479.156551
20463     94948.977383
18638    208112.018425
2915      62824.196215
Length: 22792, dtype: float64

In [15]:
import time
start_time = time.time()
getdistances(X_train, X_test.iloc[0])
print("--- %s seconds ---" % (time.time() - start_time))

--- 6.408270835876465 seconds ---

In [16]:
def predictone(k,inp_traindf,test_row,train_opcol):
    ind=getdistances(inp_traindf,test_row).sort_values()[:k].index
    print(train_opcol[ind])
    return train_opcol[ind].value_counts().idxmax()

predictone(3,X_train, X_test.iloc[0],y_train['income'])

28379      >50K
1098       >50K
27737     <=50K
Name: income, dtype: object

' >50K'